<!-- <div class="card">
    <div class="card-body card-body-composition">
        <data value="bd894c2f-4062-4c01-9768-8b7a887527e0">
        </data>
        <h6 class="card-title">Danger Silent</h6>
        <h6 class="card-text">Fate Loves the Fearless</h6>
    </div>
</div> -->
<div class="card" (click)="this.play()">
    <div class="card-body card-body-composition">
        <data [value]="id">
        </data>
        <h6 class="card-title">{{artist}}</h6>
        <h6 class="card-text">{{title}}</h6>
    </div>
</div>