
:host-context(.player-audio-div) { display:grid; align-items:center; justify-items:center; grid-template-columns:10% 80% 10%; }

:host-context(.player-audio-element) {
    grid-column: 2;
    width: 100%;
}

.footer-next-track-btn { flex-grow: unset; }

.footer-volume-control {  left:  0; position: fixed; bottom: 0; right: 0px; }
    
.footer-track-query {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

:host {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;    
    background-color: white;
    text-align: center;
}

.openRightNavSpan { font-size: 1.5rem; cursor: pointer; }
.openNavSpan { grid-row: 2; cursor: pointer; font-size: 1.5rem; cursor: pointer;}