
<div class="bottom-right-nav" [ngStyle]="{'width': styleService.getRightSideBarWidth()}" [ngClass]="['sidenav', 'bottom-right-nav', styleService.getRightNavClass()]">
    <p href="javascript:void(0)" class="close-right-nav-btn" (click)="styleService.toggleRightNavVisibility()">×</p>
    <div style="display: flex;">
        <p href="#" class="footer-pause-track-btn">Pause</p>
        <p href="#" class="footer-next-track-btn">Next</p>
        </div>
    <div class="card-query-columns"></div>
    <input type="range" id="volume-control">
</div>